.about
    // box-shadow: 0 0 8px 8px $text-color-alt
    font-size: 1.4em
    padding-bottom: 30px
    h2
        text-align: center
        text-transform: uppercase
        font-size: 2em
    &-content
        // background: url('../img/techno.png') no-repeat left bottom
        // background-size: 60% auto
        display: flex
        align-items: flex-start
        padding: 10px
        width: 100%
        &-text
            margin-right: 10px
        &-photo
            margin-left: auto
            min-width: 30%
            height: 500px
            overflow: hidden
            // border: 1px solid #22211B
            box-shadow: 5px 5px rgba(#22211B,1)
            video
                width: 100%
                

@media (max-width: 960px)
    .about-content
        flex-wrap: wrap
        position: relative
        &-text
            padding: 20px
            position: absolute
            bottom: 15px
            background-color: rgba(#22211B, 0.5)
            color: white
        &-photo
            min-width: 100%
            height: 100%
            box-shadow: none

@media (max-width: 640px)
    .about-content
        flex-wrap: wrap
            
                