.advantages
    // box-shadow: 0 0 8px 8px $text-color-alt
    margin-top: -20px
    padding: 10px
    // background: linear-gradient(to bottom, #22211B 70%, white 30%)
    .wrapper
        margin-top: -120px
        padding: 20px
        background-color: white
        box-shadow: 0 0 3px 3px rgba(#22211B, 0.6)
        border-radius: 10px
    h1
        text-align: center
        text-transform: uppercase
        font-size: 2em
        color: #22211B
        padding: 10px
        font-weight: bold
    &-wrapper
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &-item
        flex: 1 0 21%
        padding: 20px 10px
        display: flex
        flex-direction: column
        align-items: center    

.advantages .item
    &-icon
        width: 96px
        height: 96px
        margin-bottom: 10px
        transition: all 0.3s ease
    &-icon:hover
        transform: scale(1.2)
    &-title
        font-size: 1.4em
        text-align: center
    &-icon.calendar
        background: url('../img/advantages/calendar.png') no-repeat 50% / 70%, url("../img/advantages/blob-1.svg") no-repeat 50% / 100%
    &-icon.guarantee
        background: url('../img/advantages/guarantee.png') no-repeat 50% / 70%, url("../img/advantages/blob-2.svg") no-repeat 50% / 100%
    &-icon.offer
        background: url('../img/advantages/offer.png') no-repeat 50% / 70%, url("../img/advantages/blob-3.svg") no-repeat 50% / 100%
    &-icon.prepayment
        background: url('../img/advantages/prepayment.png') no-repeat 50% / 70%, url("../img/advantages/blob-4.svg") no-repeat 50% / 100%
    &-icon.satisfaction
        background: url('../img/advantages/satisfaction.png') no-repeat 50% / 70%, url("../img/advantages/blob-5.svg") no-repeat 50% / 100%
    &-icon.professional
        background: url('../img/advantages/professional.png') no-repeat 50% / 70%, url("../img/advantages/blob-6.svg") no-repeat 50% / 100%
    &-icon.worker
        background: url('../img/advantages/worker.png') no-repeat 50% / 70%, url("../img/advantages/blob-7.svg") no-repeat 50% / 100%
    &-icon.excavator
        background: url('../img/advantages/excavator.png') no-repeat 50% / 70%, url("../img/advantages/blob-8.svg") no-repeat 50% / 100%

@media screen and (max-width: 800px)
    .advantages-item
        flex: 1 0 45%